#map { 
	height: 550px;
	width: 1000px;
	top: 50px;
	left: 150px;
}

/* remove label background elements */
.leaflet-tooltip.map-labels {
	background-color: transparent;
	border: transparent;
	box-shadow: none;
	font-weight: 600;
	font-size: 5px;
}

.info {
    font: 14px/16px Arial, Helvetica, sans-serif;
}

.mainLegend {
	padding: 5px 10px;
	font: 10px Arial, Helvetica, sans-serif;
	background: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	line-height: 5px;
}
.mainLegend h4 {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	color: black;
	font-weight: 600;
}

.mainLegend h3 {
	text-align: center;
	font-size: 10px;
	color: black;
	font-weight: 500;
}

.mainLegend h2L {
	float: left;
	color: black;
}

.mainLegend h2R {
	float: right;
	color: black;
}

.mainLegend span {
	bottom: 3px;
	padding-right: 10px;
}

.mainLegend i {
	width: 1.2px;
	height: 13px;
	float: left;
}

.mainLegend t {
	width: 15px;
	height: 2px;
	float: left;
}

.leaflet-top.leaflet-left {
  display: flex;
  align-items: center;
  background: #fefefe;
  margin: 10px 10px;
  padding: 10px 10px;
  /* border: 1px solid black; */
  border-radius: 8px;

  > .info {
    margin: 0;
    margin-right: 12px;
  }

  > button {
    margin: 0 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 8px;
    border: 1px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
  }

  > button:hover:enabled {
    background: #d2d2d2;
  }
